/* 设置 MenuButton 的圆角 */
.menu-button {
    -fx-background-radius: 15;  /* 设置圆角半径 */
    -fx-background-color: transparent;  /* 设置背景透明 */
    -fx-border-color: transparent;      /* 设置边框透明 */
    -fx-text-fill: transparent;          /* 设置文本透明 */
    }

.menu-button:hover {
    -fx-background-color: #45a049; /* 鼠标悬停时按钮背景色 */
}